<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beker Developer |
        <%= title %>
    </title>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <!-- Page Title -->
    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <div class="nav-Brand">
                    <h1>
                        <%%= ADMIN PAGE %>
                    </h1>
                </div>
            </div>
        </div>
    </nav>
    <a href="/home" class="btn-submit btn-goBack">Go back</a>

    <!-- Management dashboard -->
    <section class="project-Dashboard">
        <div class="container">
            <div class="pd-content">

                <h1 class="section-title">Projects Dashboard</h1>

                <div class="edit-btn">
                    <a href="/editProject" class="btn-submit">Edit</a>
                </div>

                <div class="content">
                    <!-- projects -->
                    <% products.forEach((prod) => { %>
                        <div class="project border">
                            <div class="photo">
                                <img src="<%= prod.image %>" alt="">
                            </div>
                            <div class="box">
                                <h4 class="project-title">
                                    <%=prod.title%>
                                </h4>
                                <p class="slogan">
                                    <%= prod.slogan %>
                                </p>
                            </div>
                        </div>
                        <%}); %>

                </div>

            </div>
        </div>
    </section>

    <!-- cv -->

    <section class="cv-Dashboard diff-section-color">
        <div class="container">
            <div class="cvd-content">

                <h1 class="section-title">CV Dashboard</h1>

                <div class="edit-btn">
                    <a href="/editCv" class="btn-submit">Edit</a>
                </div>

                <% cv.forEach((corric)=>{ %>
                    <div class="row-one">

                        <div class="profile border">
                            <h2>Profile</h2>
                            <div class="item">
                                <img src="<%= corric.profileImage %> " alt="" class="paddingRight">
                                <p>Profile Picture</p>
                            </div>
                            <div class="item">
                                <h4 class="paddingRight">Introduction</h4>
                                <p>
                                    <%= corric.smallIntroduction %>
                                </p>
                            </div>
                        </div>
                        <div class="prglanguages border">
                            <h2>Languages</h2>

                            <% let n = 1  %>

                                <% for( let lang in corric.languages ) { %>

                                    <% if (corric.languages[lang].name !== " ") { %>
                                        <div class="item">
                                            <h4 class="paddingRight">
                                                <%= corric.languages[lang].name  %>
                                            </h4>
                                            <p>
                                                <%= corric.languages[lang].value  %>
                                            </p>
                                        </div>
                                        <% if (n === 7) { %>
                                            <% break%>
                                                <% } %>
                                                    <% n++ %>
                                                        <% } %>
                                                            <%}%>
                        </div>
                        <div class="education">
                            <h2>Education</h2>

                            <div class="item">
                                <h4 class="paddingRight">
                                    <%= corric.education.type %>
                                </h4>
                                <p>
                                    <%= corric.education.description %>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="row-two">
                        <div class="experience border">
                            <h2>Experience</h2>

                            <% n=1  %>

                                <% for( let exp in corric.experience ) { %>

                                    <% if (corric.experience[exp].name !== " ") { %>

                                        <div class="item">
                                            <h4 class="paddingRight">
                                                <%= corric.experience[exp].name %>
                                            </h4>
                                            <p>
                                                <%= corric.experience[exp].description %>
                                            </p>
                                        </div>
                                        <% if (n === 3) { %>
                                            <% break%>
                                                <% } %>
                                                    <% n++ %>
                                                        <% } %>
                                                            <%}%>

                        </div>
                        <div class="awards border">
                            <h2>Awards</h2>



                            <% n=1  %>

                                <% for( let award in corric.awards ) { %>

                                    <% if (corric.awards[award] !== " ") { %>

                                        <div class="item">
                                            <h4 class="paddingRight">
                                                <%= corric.awards[award] %>
                                            </h4>
                                        </div>
                                        <% } %>
                                            <% if (n === 7) { %>
                                                <% break%>
                                                    <% } %>
                                                        <% n++ %>
                                                            <%}%>
                        </div>
                        <div class="skills">
                            <h2>Skills</h2>

                            <% n=1  %>

                                <% for( let skll in corric.skills ) { %>

                                    <% if (corric.skills[skll] !== " ") { %>

                                        <div class="item">
                                            <h4 class="paddingRight">
                                                <%= corric.skills[skll] %>
                                            </h4>
                                        </div>
                                        <% } %>
                                            <% if (n === 7) { %>
                                                <% break%>
                                                    <% } %>
                                                        <% n++ %>
                                                            <%}%>

                                                                <!-- <div class="item">
                                <h4 class="paddingRight">High School</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sit recusandae tempora quibusdam. Quas neque cum fugiat magni officiis at perspiciatis voluptatem! Perferendis eaque a ratione molestias sapiente vitae rem!</p>
                            </div> -->
                        </div>

                    </div>
                    <%})%>


            </div>
        </div>
    </section>

    <!-- about me, and social media -->

    <section class="about-Dashboard">
        <div class="container">
            <div class="ad-content">

                <h1 class="section-title">About Dashboard</h1>

                <div class="edit-btn">
                    <a href="/editAbout" class="btn-submit">Edit</a>
                </div>

                <div class="content">
                    <!-- projects -->

                    <% about.forEach((abt)=>{%>

                        <div class="my-history border">
                            <h2>About</h2>
                            <div class="item">
                                <h3>My history</h3>
                                <p>
                                    <%= abt.myHistory %>
                                </p>
                            </div>
                        </div>

                        <div class="social-media-links">
                            <h2>Social Media</h2>

                            <% n=1  %>

                                <% for( let social in abt.socialLinks ) { %>

                                    <% if (abt.socialLinks[social].username !== " ") { %>


                                        <% if (n === 6) { %>
                                            <div class="item">
                                                <h3>
                                                    <%= social %>
                                                </h3>
                                                <p>
                                                    <%= abt.socialLinks[social].number %>
                                                </p>
                                            </div>
                                            <% break%>
                                                <% }else {%>

                                                    <div class="item">
                                                        <h3>
                                                            <%= social %>
                                                        </h3>
                                                        <p>
                                                            <%= abt.socialLinks[social].username %> |
                                                                <%= abt.socialLinks[social].urlAddress %>
                                                        </p>
                                                    </div>
                                                    <%}%>
                                                        <% n++ %>
                                                            <% } %>
                                                                <%}%>

                        </div>
                        <%})  %>


                </div>

            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

</body>

</html>