<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Beker Developer |
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="loader">
        <div class="side-left">
            <div class="loader-one-up"></div>
        </div>
        <div class="side-right">
            <div class="loader-two-up"></div>
        </div>
        <h1 class="loadingText">
            <%% ... %>
        </h1>
    </div>

    <div class="loaderBelow">
        <div class="side-left">
            <div class="loader-one-down"></div>
        </div>
        <div class="side-right">
            <div class="loader-two-down"></div>
        </div>
    </div>

    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <div class="nav-Brand">
                    <h1>
                        <%%= BEKER DEV %>
                    </h1>
                </div>
                <div class="menu-content">
                    <ul class="menu">
                        <li><a href="#"><span>home( );</span></a></li>
                        <li><a href="#projects"><span>projects( );</span></a></li>
                        <li><a href="#cv"><span>curriculumVitae( );</span></a></li>
                        <li><a href="#about"><span>aboutMe( );</span></a></li>
                        <li><a href="#contact"><span>contactMe( );</span></a></li>
                    </ul>
                    <i class="fas fa-bars" id='responsiveButton' onclick="toggleDropDown()"></i>
                </div>
            </div>

        </div>
        <div class="nav-dropdown getDown">
            <ul class="dropdown-menu">
                <li><a href="#"><span>home( );</span></a></li>
                <li><a href="#projects"><span>projects( );</span></a></li>
                <li><a href="#cv"><span>curriculumVitae( );</span></a></li>
                <li><a href="#about"><span>aboutMe( );</span></a></li>
                <li><a href="#contact"><span>contactMe( );</span></a></li>
            </ul>
        </div>
        <div class="blueStuff getDownBlue">

        </div>
    </nav>

    <!-- Hero -->

    <section class="introWeb">
        <div class="container">
            <div class="introWeb-content">
                <div class="introduction">
                    <div class="introtext">
                        <h1 class="" id="first-writing">I'm Ebubeker Rexha</h1>
                        <h1 class="" id="second-writing">and I'm a full stack developer</h1>
                    </div>
                </div>
                <div class=" image ">
                    <img src="img/office.jpg " alt=" ">

                </div>
            </div>
        </div>
    </section>

    <!-- Projects -->

    <section class="projects diff-section-color" id="projects">
        <div class="container">
            <div class="project-content">
                <h1 class="section-title">Projects</h1>

                <% let number = 1 %>
                    <% products.forEach((prod) => { %>
                        <% if (number%2 != 0) { %>
                            <div class="card">
                                <div class="project-card" style="background-image: url('<%= prod.image%>');">
                                    <div class="project-card-content">
                                        <h1>
                                            <%= prod.title %>
                                        </h1>
                                        <p class="slogan">
                                            <%= prod.slogan %>
                                        </p>
                                        <a href="<%= prod.repositoryLink %> " target="_blank" class="btn-project">View Demo Project</a>
                                    </div>
                                </div>
                            </div>
                            <% }else if (number%2 == 0) { %>
                                <div class="card-2">
                                    <div class="project-card" style="background-image: url('<%= prod.image%>');">
                                        <div class="project-card-content">
                                            <h1>
                                                <%= prod.title %>
                                            </h1>
                                            <p class="slogan">
                                                <%= prod.slogan %>
                                            </p>
                                            <a href="<%= prod.repositoryLink %> " target="_blank" class="btn-project">View Demo Project</a>
                                        </div>
                                    </div>
                                </div>

                                <% } %>
                                    <% number++ %>
                                        <% }) %>
            </div>
        </div>
    </section>

    <!-- CV -->

    <section class="cv" id="cv">
        <div class="container">
            <div class="cv-content">
                <h1 class="section-title">Curriculum Vitae</h1>
                <% cv.forEach((c)=>{ %>

                    <div class="row-zero">
                        <div class="photo">
                            <h2>Ebubeker Rexha</h2>

                            <img src="<%= c.profileImage %> " alt="">
                        </div>
                        <div class="description">
                            <h2>Small Introduction</h2>
                            <p>
                                <%= c.smallIntroduction %>
                            </p>
                        </div>
                    </div>
                    <div class="row-one">
                        <div class="languageKnowledge">
                            <p class="cv-part">Language</p>
                            <hr>

                            <% let n = 1  %>

                                <% for( let lang in c.languages ) { %>

                                    <% if (c.languages[lang].name === " ") { %>


                                        <% if (n === 7) { %>
                                            <% break%>
                                                <% } %>
                                                    <% n++ %>
                                                        <% } else{%>

                                                            <div class="language">
                                                                <h4>
                                                                    <%= c.languages[lang].name %>
                                                                </h4>
                                                                <progress max="100" value=<%=c .languages[lang].value %> ></progress>
                                                            </div>
                                                            <% if (n === 7) { %>
                                                                <% break%>
                                                                    <% } %>
                                                                        <% n++ %>
                                                                            <%}%>
                                                                                <%}%>
                        </div>
                        <div class="education">
                            <p class="cv-part">Education</p>
                            <hr>
                            <h3>
                                <%= c.education.type%>
                            </h3>
                            <p style="color: rgb(109, 109, 109);"><em><%= c.education.date %> </em></p>
                            <br>
                            <p>
                                <%= c.education.description  %>
                            </p>
                        </div>
                    </div>
                    <div class="row-two">
                        <div class="experience">
                            <p class="cv-part">Experience</p>
                            <hr>

                            <% n = 1  %>

                                <% for( let exp in c.experience ) { %>

                                    <% if (c.experience[exp].name === " ") { %>


                                        <% break%>
                                            <% n++ %>
                                                <% } else{%>

                                                    <div class="single-experience">

                                                        <h3>
                                                            <%= c.experience[exp].name %>
                                                        </h3>
                                                        <br>
                                                        <p>
                                                            <%= c.experience[exp].description %>
                                                        </p>
                                                    </div>
                                                    <% if (n === 7) { %>
                                                        <% break%>
                                                            <% } %>
                                                                <% n++ %>
                                                                    <%}%>
                                                                        <%}%>

                        </div>
                    </div>
                    <div class="row-one">
                        <div class="awards">
                            <p class="cv-part">Awards</p>
                            <hr>

                            <% n = 1  %>

                                <% for( let aw in c.awards ) { %>

                                    <% if (c.awards[aw] === " ") { %>


                                        <% break%>
                                            <% n++ %>
                                                <% } else{%>

                                                    <h4>
                                                        -
                                                        <%= c.awards[aw] %>
                                                    </h4>

                                                    <% if (n === 7) { %>
                                                        <% break%>
                                                            <% } %>
                                                                <% n++ %>
                                                                    <%}%>
                                                                        <%}%>
                        </div>
                        <div class="skills">
                            <p class="cv-part">Skills</p>
                            <hr>

                            <% n = 1  %>

                                <% for( let sk in c.skills ) { %>

                                    <% if (c.skills[sk] === " ") { %>


                                        <% break%>
                                            <% n++ %>
                                                <% } else{%>

                                                    <h4>-
                                                        <%= c.skills[sk] %>
                                                    </h4>

                                                    <% if (n === 7) { %>
                                                        <% break%>
                                                            <% } %>
                                                                <% n++ %>
                                                                    <%}%>
                                                                        <%}%>

                        </div>
                    </div>
                    <%}) %>
            </div>
        </div>
    </section>

    <!-- About -->

    <% about.forEach((abt)=>{ %>

        <section class="about diff-section-color" id="about">
            <div class="container">
                <div class="about-content">
                    <h1 class="section-title">About Me</h1>
                    <div class="part-one">
                        <div class="rounded-photo">
                            <img src="<%=abt.aboutPhoto %>" alt="">
                        </div>
                        <div class="history">
                            <h4>My History</h4>
                            <p>
                                <%= abt.myHistory %>
                            </p>
                        </div>
                    </div>

                    <div class="part-two">
                        <div class="provide">
                            <img src="img/project-1.jpg" alt="" class="roundedImage">
                            <div class="box">
                                <h4>Quality</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, ea! Necessitatibus eveniet asperiores ab eaque molestiae minus voluptas repudiandae quaerat consectetur mollitia, adipisci nemo debitis porro?</p>
                            </div>
                        </div>

                        <div class="provide">
                            <img src="img/project-2.jpg" alt="" class="roundedImage">
                            <div class="box">
                                <h4>Beautiful Design</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, ea! Necessitatibus eveniet asperiores ab eaque molestiae minus voluptas repudiandae quaerat consectetur mollitia, adipisci nemo debitis porro?</p>
                            </div>
                        </div>

                        <div class="provide">
                            <img src="img/project-3.jpg" alt="" class="roundedImage">
                            <div class="box">
                                <h4>Speed</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, ea! Necessitatibus eveniet asperiores ab eaque molestiae minus voluptas repudiandae quaerat consectetur mollitia, adipisci nemo debitis porro?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Us -->

        <section class="contact" id="contact">
            <div class="container">
                <div class="contact-content">
                    <h1 class="section-title">Contact Me</h1>
                    <div class="contact-parts">
                        <div class="contact-form">
                            <form action="https://formsubmit.co/ebrexha12@yahoo.com" method="POST">
                                <input type="text" name="name" placeholder="Name">
                                <input type="email" name="email" placeholder="Email">
                                <input type="text" name="subject" placeholder="Subject">
                                <input type="hidden" name="_captcha" value="false">
                                <input type="hidden" name="_template" value="table">
                                <input type="hidden" name="_next" value="https://bekerdev.herokuapp.com">
                                <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
                                <button class="btn-submit" type="submit">Send Message</button>
                            </form>
                        </div>
                        <div class="more-contacts">



                            <div class="div-one">

                                <div class="contact-type">
                                    <i class="fab fa-instagram"></i>
                                    <p>
                                        <%= abt.socialLinks.instagram.username %>
                                    </p>
                                </div>

                                <div class="contact-type">
                                    <i class="fab fa-linkedin-in"></i>
                                    <p>
                                        <%= abt.socialLinks.linkdin.username %>
                                    </p>
                                </div>

                                <div class="contact-type">
                                    <i class="fab fa-twitter"></i>
                                    <p>
                                        <%= abt.socialLinks.twitter.username %>
                                    </p>
                                </div>

                                <div class="contact-type">
                                    <p class="number">
                                        <%= abt.socialLinks.phoneNumber.number %>
                                    </p>
                                    <p>My Number</p>
                                </div>
                            </div>
                            <div class="empty">
                                <h1 class="section-title" style="margin: 0px; padding: 0; font-size: 30px; margin-bottom: 20px;">Location</h1>
                                <p>Rruga e madhe Kullaj, 47</p>
                                <p>State: Shkoder</p>
                                <p>Country: Albania</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%})  %>


            <!-- footer section -->

            <%- include('./partials/footer') %>

                <script src="js/main.js "></script>
                <script src="js/writing.js "></script>

</body>

</html>